{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css') }}" type="text/css">
<title>Doremi Search Engine</title>
{% endblock %}

{% block body %}

<div class="files">
    <h1>Welcome to Doremi Search Engine</h1>
    {% if filenames|length < 1 %}
    <p>Belum ada dokumen. Silahkan unggah di bawah ini.</p>
    {% else %}
    <p>Daftar Dokumen</p>
    <table>
        <tr>
            <th>Dokumen</th>
            <th>Diunggah</th>
            <th>Aksi</th>
        </tr>
        {% for filename in filenames %}
            <tr>
                <td>{{ filename.name }}</td>
                <td>{{ filename.date_uploaded.date() }}</td>
                <td>
                    <a href="/delete/{{ filename.name }}">Hapus</a>
                    <br>
                    <a href="/uploads/{{ filename.name }}">Buka</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div id="submitfiles">
        <p>Unggah Dokumen Disini! (Dokumen harus bertipe txt dan nama dokumen tidak boleh sama dengan yang sudah ada)</p>
        <form method=post enctype=multipart/form-data>
            <input id="inp" type=file name="files[]" multiple="true" accept=".txt">
            <br>
            <br>
            <input type=submit value=Unggah class="button">
        </form>
    </div>
</div>

<div class="form">
    <form action="/search" method="POST">
        <p>Cari Dokumen Disini!</p>
        <input type="text" name="query" value="{{ query }}" placeholder="    Masukkan kueri" id="searchbar" required>
        <br>
        <input type="submit" value="Cari!" class="button">
    </form>
</div>

<div class="hasil">
    {% if tftable|length > 0 %}
    <h2 id="hasilpencarian">Hasil Pencarian</h2>
    {% endif %}
    {% for element in array %}
    <a href="/uploads/{{ element.get('name') }}">{{ element.get('name') }}</a>
    <p class="kiri">Jumlah kata: {{ element.get('count') }}</p>
    <p class="kiri">Tingkat kemiripan: {{ element.get('cos') }}%</p>
    <p class="kiri">{{ element.get('first') }}</p>
    <br>
    {% endfor %}

    {% if tftable|length > 0 %}
    <h2>Tabel Query</h2>
    <table>
        <thead>
            <tr>
                <th>Term</th>
                {% for element in tableheader %}
                <th>{{element}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elmt in tftable %}
            <tr>
                {% for e in elmt %}
                <td>{{e}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}
</div>

<footer>
    <a href="perihal.html">Perihal</a>
</footer>
{% endblock %}