{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/search.css') }}" type="text/css">
<title>About Us</title>
{% endblock %}

{% block body %}

<div class="files">
    <h1>Welcome to Doremi Search Engine</h1>
</div>

<div>
    <h2>Basic Concepts</h2>
    <p>Konsep dasar <i>search engine</i> yang kami buat adalah dengan menggunakan rumus <i>cosine similarity</i> yang dapat menentukan 
        kemiripan antara dokumen dalam database dengan <i>query</i> yang diinput. Setiap kata berbeda dipecah menjadi basis dari vektor <i>query</i> 
        dan setiap dokumen. Nilai kemiripan ini akan diurutkan dari besar ke kecil yang menunjukkan relevansi antara dokumen dengan <i>query</i>.
     Dokumen-dokumen sebagai tempat pencarian diupload dan disimpan dalam sebuah <i>database</i> dan sebuah folder, yang dapat diakses saat 
    pencarian dilakukan. Sebagai hasil, akan ditampilkan urutan dokumen berdasarkan tingkat kemiripan, serta sebuah tabel berisikan jumlah kata 
pada setiap dokumen yang sesuai dengan <i>query</i>.</p>
    <br>
    <h2>How to use</h2>
    <ul>
        <li>Upload dokumen sebagai sumber pencarian dengan menekan tombol "<i>choose files</i>"</li>
        <li>Masukkan <i>query</i> pada kolom pencarian, kemudian tekan tombol "cari" </li>
        <li>Hasil pencarian akan ditampilkan pada layar anda</li>
    </ul>
    <br>
    <h2>Our Profile</h2>
    <h3>Andres Jerriel Sinabutar</h3>
    <p>hanya orang biasa</p>
    <h3>Rafidika Samekto</h3>
    <p>tapi cintaku padamu<p>
    <h3>Ryo Richardo</h3>
    <p>luar biasa</p>
</div>

{% endblock %}
