* {
    font-family: "Amatic SC", cursive;
    background-image: url('amongus-background.jpg');
}

a, p {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
    margin-top: 3rem;
    color: white;
}

.files {
    margin: 3rem auto;
}

table, th, td {
    border: 0.5rem solid white;
}

th, td {
    color: white;
}

form {
    margin: 0 auto;
}

#submitfiles {
    display: block;
    margin: 0 auto;
    text-align: center;
}

#searchbar {
    border: 0.25rem solid white;
    background-color: black;
    color: white;
    width: 35rem;
    height: 4rem;
    border-radius: 4rem;
    display: block;
    margin: 0 auto;
    font-size: 2.5rem;
}

.button {
    width: 8rem;
    font-size: 1.75rem;
    height: 3rem;
    color: white;
    background-color: #679BF1;
    border: 0.25rem solid white;
    border-radius: 3rem;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: white;
    color: red;
    border-color: cyan;
}