{% extends 'base.html' %}
{% block head %}
<title>Search Engine</title>
{% endblock %}

{% block body %}

<div class="files">
    <h1>Search Engine Gugle</h1>
    {% if filenames|length < 1 %}
    <p>There are no files. Upload one below!</p>
    {% else %}
    <h3>Daftar Dokumen</h3>
    <table>
        <tr>
            <th>File</th>
            <th>Uploaded</th>
            <th>Actions</th>
        </tr>
        {% for filename in filenames %}
            <tr>
                <td>{{ filename.name }}</td>
                <td>{{ filename.date_uploaded.date() }}</td>
                <td>
                    <a href="/delete/{{ filename.name }}">Delete</a>
                    <br>
                    <a href="/uploads/{{ filename.name }}">Open</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>
<br>
<div class="form">
    <form action="/search" method="POST">
        <input type="text" name="query">
        <input type="submit" value="Search!">
    </form>
</div>

<div>
    <h2>Hasil Pencarian</h2>
    {% for element in array %}
    <a href="/uploads/{{ element.get('name') }}">{{ element.get('name') }}</a>
    <p>Jumlah kata: {{ element.get('count') }}</p>
    <p>Tingkat kemiripan: {{ element.get('cos') }}%</p>
    <p>{{ element.get('first') }}</p>
    <br>
    {% endfor %}

    {% if tftable|length > 0 %}
    <h2>Tabel Query</h2>
    <table>
        <thead>
            <tr>
                <th></th>
                {% for element in tableheader %}
                <th>{{element}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for elmt in tftable %}
            <tr>
                {% for e in elmt %}
                <th>{{e}}</th>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}
</div>
{% endblock %}