{% extends 'base.html' %}
{% block head %}
<title>Search Engine</title>
{% endblock %}

{% block body %}

<div class="files">
    <h1>Uploaded Document</h1>
    {% if filenames|length < 1 %}
    <p>There are no files. Upload one below!</p>
    {% else %}
    <table>
        <tr>
            <th>File</th>
            <th>Uploaded</th>
            <th>Actions</th>
        </tr>
        {% for filename in filenames %}
            <tr>
                <td>{{ filename.name }}</td>
                <td>{{ filename.date_uploaded.date() }}</td>
                <td>
                    <a href="/delete/{{ filename.name }}">Delete</a>
                    <br>
                    <a href="/uploads/{{ filename.name }}">Open</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

    <br>

    <div class="form">
        <form action="/search" method="POST">
            <input type="text" name="query">
            <input type="submit" value="Search!">
        </form>
    </div>

</div>
{% endblock %}